<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Rappiddo Staff</title>
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="assets/bootstrap-4.0.0/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3"></div>
			<div class="col-md-6 col-sm-6">
				<form action="">
					<div class="row">
						<div class="form-group col-md-6 col-sm-6">
							<input type="text" class="form-control" name="fname" placeholder="First Name" />
						</div>
						<div class="form-group col-md-6 col-sm-6">
							<input type="text" class="form-control" name="lname" placeholder="Last Name" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-10 col-sm-10">
							<input type="email" class="form-control" name="email" placeholder="Email" />
						</div>
						<div class="form-group col-md-2 col-sm-2">
							<button type="button" class="btn btn-primary">Invite</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3 col-sm-3"></div>
		</div>
	</div>
</body>
</html>